/**************************************
 * FONTS
 *************************************/
$font-family-sans-serif: 'Ubuntu', sans-serif;
$subheadings-font-family: 'Viga', sans-serif;
$headings-font-family: 'special_eliteregular', cursive;
$figuretexte: 'Times New Roman', serif;
 

/**************************************
 * COLORS
 *************************************/
$enable-gradients: true;
$primary:#4b4a4e;
$primaryBold:#454348;
$warning:#FFE869;
$danger:#D0181F;
$success:#B7D233;
$info:#FBB040;
$primarypale:#E9E8E9;
$primarycomplement:$danger;
$secondary:#009ccd;
$secondaryBold: #038fbb;
$secondarypale:#DFF3F9;
$secondarycomplement:$warning;

$tt-menu-color4: #4b4a4e;

$successpale:#EDF4CC;
$successcomplement:$primary;

$dangerpale:#F9E2E3;
$dangercomplement:$secondary;

$infopale:#FEF5E7;
$infocomplement:$success;

$warningpale:#FFF9D9;
$warningcomplement:$info;
$light:#FDFBF7;
$dark:#555555;

$color1:#666;
$color2:#FFFFFF;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#FFFFFF;

$theme_color1:#D0181F;
$theme_color2:#009CCD;
$theme_color3:#FBB040;
$theme_color4:#B7D233;
$theme_color5:#494755;
 
/**************************************
 * GENERAL
 *************************************/

$headings-font-family: $headings-font-family !default;


