/**************************************
 * FONTS
 *************************************/
@font-face {
    font-family: 'special_eliteregular';
    src: url('../../../recit_histoire/scss/SpecialElite-webfont.eot');
    src: url('../../../recit_histoire/scss/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../recit_histoire/scss/SpecialElite-webfont.woff') format('woff'),
    url('../../../recit_histoire/scss/SpecialElite-webfont.ttf') format('truetype'),
    url('../../../recit_histoire/scss/SpecialElite-webfont.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif: 'Ubuntu', sans-serif;
$subheadings-font-family: 'Viga', sans-serif;
$headings-font-family: 'special_eliteregular', cursive;
$figuretexte: 'Times New Roman', serif;
 

/**************************************
 * COLORS
 *************************************/
$enable-gradients: true;
$primary:#4b4a4e;
$secondary:#009ccd;
$secondarypale:#0082c6;
$warning:#FFE869;
$light:#FDFBF7;
$dark:#555555;

$color1:#666;
$color2:#FFFFFF;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#FFFFFF;

$theme_color1:#D0181F;
$theme_color2:#009CCD;
$theme_color3:#FBB040;
$theme_color4:#B7D233;
$theme_color5:#494755;
 
/**************************************
 * GENERAL
 *************************************/

$headings-font-family: $headings-font-family !default;

$navbar-height: 50px !default;

